<style media="screen">
  .mysign {
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    margin: 5%;
    width: 50%;
  }
  .gender {
    margin : 5% 0% 5% 5%
  }
</style>

<%= render "devise/sessions/navigator", link_name: "Sign IN", link: new_user_session_path%>
<%= render "posts/resized_main" %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>Welcome to HANTORISM</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "mysign" %>
      </div>

      <div class="field">
        <%= f.email_field :email, placeholder: "Email", class: "mysign" %>
      </div>

      <div class="field">
        <%= f.text_field :my_id, placeholder: "ID", class: "mysign" %>
      </div>

      <div class="field">
        <%= f.password_field :password, placeholder: "Password", class: "mysign" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: "Password Confirm", class: "mysign" %>
      </div>

      <div class="field">
        <%= f.radio_button :gender, "m", class: "gender"%>
        <%= label :gender, 'Male', class: "btn"%>
        <%= f.radio_button :gender, "f", class: "gender"%>
        <%= label :gender, 'Female', class: "btn"%>
      </div>

      <div class="field">
        <%= f.text_field :contact, placeholder: "Contact (010-xxxx-xxxx)", class: "mysign" %>
      </div>

      <div class="field">
        <%= f.text_field :std_number, placeholder: "Student Number (20xxxxxxx)", class: "mysign" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn", style:"margin-bottom: 10%"%>
      </div>
    <% end %>
  </div>
</div>
</div>
