<style media="screen">
  .mysign {
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    margin: 5%;
    width: 50%;
  }
</style>

<%= render "devise/sessions/navigator", link_name: "Sign UP", link: new_registration_path(resource_name) %>
<%= render "posts/resized_main" %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>Sign In</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%# autocomplete: "email" %>
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "mysign" %>
      </div>

      <div class="field">
        <%# autocomplete: "curren-password"%>
        <%= f.password_field :password, placeholder: "Password", class: "mysign" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: "mysign" %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
